.btn_teal {
    background-color: #117888 !important;
    color: white !important;
    border: 1px solid #117888 !important;
}

.btn_plum {
    background-color: #8F000B !important;
    color: white !important;
    border: 1px solid #8F000B !important;
}

.text_teal {
    color: #117888 !important;
    font-weight: bold;
}